In [3]:
import pandas as pd
import numpy as np

## Empty series

In [4]:
d=pd.Series()
print(d)

Series([], dtype: float64)

## Series from ndarray

In [5]:
d=np.array([1,2,3,4,5,6])
s=pd.Series(d)
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [6]:
s[2]

3

#### Series from ndarray with an index

In [7]:
s=pd.Series(d, index=[100,101,102,103,104,105])
print(s[102])

3

## Series from dictionary

In [8]:
data={'a':1, 'b':2, 'c':3, 'd':4}
s=pd.Series(data)
print(s)

a    1
b    2
c    3
d    4
dtype: int64

#### Series from dictionary with index

In [9]:
s=pd.Series(data, index=['b', 'c', 'd', 'e'])  #Dictionary keys are used to create index
print(s)

b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [10]:
print(s[0])
print(s['c'])

2.0
3.0

In [11]:
s=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [12]:
s[2]

3

In [13]:
s['c']

3

In [14]:
print(s[['a','b','c']])

a    1
b    2
c    3
dtype: int64

## Series from scalar

In [15]:
s=pd.Series(5, index=[1,2,3,4])
print(s)

1    5
2    5
3    5
4    5
dtype: int64

## Attributes

In [16]:
about_me={'a':'Smart', 'b':'Intelligent', 'c':'Handsome', 'd':'Humble'}
s=pd.Series(about_me)
print(s)

a          Smart
b    Intelligent
c       Handsome
d         Humble
dtype: object

### values
Returns the actual data in series as an array

In [17]:
print(s.values)

['Smart' 'Intelligent' 'Handsome' 'Humble']

### axes
Returns the list of the labels of the series.

In [18]:
s.axes

[Index(['a', 'b', 'c', 'd'], dtype='object')]

### dtype
Returns the datatype of the object

In [19]:
print(s.dtype)

object

### ndim
Returns the number of dimensions of the underlying data

In [20]:
print(s.ndim)     #As it is a series so by default its dimension would be 1

1

## Methods

In [21]:
price=[2.99, 3.76, 7.55]
s=pd.Series(price)
print(s)

0    2.99
1    3.76
2    7.55
dtype: float64

### sum
Add the integer or float values of the series together

In [22]:
s.sum()

14.3

### product
Returns the product of the numbers

In [23]:
s.product()

84.88011999999999

### Mean
Returns the average of the series

In [24]:
s.mean()

4.766666666666667

## Import Series with read_csv method

In [25]:
pokemon=pd.read_csv('pokemon.csv', usecols=['Pokemon'], squeeze=True)

In [26]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [27]:
google=pd.read_csv('google_stock_price.csv', squeeze=True)

In [28]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

### head() and tail() method

In [29]:
print(pokemon.head())
print(google.tail())

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

## .sort_values Method

In [30]:
pokemon.sort_values(ascending=False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [31]:
pokemon.sort_index()

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

## Extract Series Value by Index Position

In [32]:
pokemon[100]

'Electrode'

In [33]:
pokemon[[100,200,300,400]]         #To extract multiple data

100    Electrode
200        Unown
300     Delcatty
400    Kricketot
Name: Pokemon, dtype: object

#### .get() Method to Extract Series

In [34]:
p=pd.read_csv('pokemon.csv', index_col=['Pokemon'], squeeze=True)
p.sort_index(inplace=True)

In [35]:
p

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [36]:
p.get('Pikachu')

'Electric'

In [37]:
p.get(['Moltres','Charizard'])

Pokemon
Moltres      Fire
Charizard    Fire
Name: Type, dtype: object

In [38]:
p.get('Digimon', default='No Pokemon')

'No Pokemon'

In [46]:
p.get(['Zoroark', 'Digimon'])

Pokemon
Zoroark    Dark
Digimon     NaN
Name: Type, dtype: object

## .value_counts() Method
Counts the number of occurence of each unique value in the series

In [47]:
p.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

## .apply() Method
Used to use a user defined Python function on all values of the series

In [48]:
google.apply(lambda x: x+1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

## .map() Method

In [49]:
pokemon_names=pd.read_csv('pokemon.csv', usecols=['Pokemon'], squeeze=True)
pokemon_types=pd.read_csv('pokemon.csv',index_col='Pokemon', squeeze=True)

In [50]:
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object

In [51]:
pokemon_names=pd.read_csv('pokemon.csv', usecols=['Pokemon'], squeeze=True)
pokemon_types=pd.read_csv('pokemon.csv',index_col='Pokemon', squeeze=True).to_dict()

In [52]:
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object