In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## Timestamp object

In [2]:
pd.Timestamp('2020-04-08')

Timestamp('2020-04-08 00:00:00')

In [3]:
pd.Timestamp('2020/04/08')

Timestamp('2020-04-08 00:00:00')

In [4]:
pd.Timestamp('2020, 4, 8')

Timestamp('2020-04-08 00:00:00')

In [5]:
pd.Timestamp('08/04/2020')

Timestamp('2020-08-04 00:00:00')

In [6]:
pd.Timestamp('19/11/2020')

Timestamp('2020-11-19 00:00:00')

In [7]:
pd.Timestamp('2020-04-08 8:57:23')

Timestamp('2020-04-08 08:57:23')

In [8]:
pd.Timestamp('2020, 04, 08 6:23:7 PM')

Timestamp('2020-04-08 18:23:07')

In [9]:
pd.Timestamp(dt.date(2020, 4, 8))

Timestamp('2020-04-08 00:00:00')

In [10]:
pd.Timestamp(dt.datetime(2020, 4, 8, 8, 57, 23))

Timestamp('2020-04-08 08:57:23')

## DatetimeIndex object

In [11]:
dates = ['2016/1/1', '2016/4/12', '1996/2/12']
dtindex = pd.DatetimeIndex(dates)

In [12]:
dtindex

DatetimeIndex(['2016-01-01', '2016-04-12', '1996-02-12'], dtype='datetime64[ns]', freq=None)

In [13]:
values = [100, 200, 300]

In [14]:
pd.Series(data = values, index = dtindex)

2016-01-01    100
2016-04-12    200
1996-02-12    300
dtype: int64

## to_datetime() Method

In [15]:
pd.to_datetime('2001-04-19')

Timestamp('2001-04-19 00:00:00')

In [16]:
pd.to_datetime(dt.date(2001, 4, 23))

Timestamp('2001-04-23 00:00:00')

In [17]:
pd.to_datetime(dt.datetime(2015, 2, 5, 14, 35, 23))

Timestamp('2015-02-05 14:35:23')

In [18]:
pd.to_datetime(['2001-04-19', '2008/12/12', '2016', 'July 4th 1996', '3 Jan 2013', None])

DatetimeIndex(['2001-04-19', '2008-12-12', '2016-01-01', '1996-07-04',
               '2013-01-03', 'NaT'],
              dtype='datetime64[ns]', freq=None)

In [19]:
dates = pd.Series(['10/04/1991', 'Hello', '2015-02-31'])

In [20]:
pd.to_datetime(dates)

ParserError: Unknown string format: Hello

In [21]:
pd.to_datetime(dates, errors='coerce')

0   1991-10-04
1          NaT
2          NaT
dtype: datetime64[ns]

## date_range() Method

In [22]:
pd.date_range(start='2016/1/1', end='2016/1/10')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [23]:
pd.date_range(start='2016/1/1', end='2016/1/10', freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [24]:
pd.date_range(start='2016/1/1', end='2016/1/10', freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [25]:
pd.date_range(start='2016/1/1', end='2016/1/10', freq='W')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [26]:
pd.date_range(start='2016/1/1', end='2016/1/15', freq='W-Fri')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [27]:
pd.date_range(start='2016/1/1', end='2016/1/15', freq='W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [28]:
pd.date_range(start='2016/1/1', end='2016/1/15', freq='h')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-14 15:00:00', '2016-01-14 16:00:00',
               '2016-01-14 17:00:00', '2016-01-14 18:00:00',
               '2016-01-14 19:00:00', '2016-01-14 20:00:00',
               '2016-01-14 21:00:00', '2016-01-14 22:00:00',
               '2016-01-14 23:00:00', '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [29]:
pd.date_range(start='2016/1/1', end='2016/1/10', freq='6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [30]:
pd.date_range(start='2016/1/1', end='2016/12/10', freq='M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

In [31]:
pd.date_range(start='2016/1/1', end='2016/12/10', freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [32]:
pd.date_range(start='2016/1/1', end='2038/1/10', freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [33]:
pd.date_range(start='2016/1/1', end='2038/1/10', freq='AS')

DatetimeIndex(['2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01',
               '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01',
               '2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01', '2031-01-01',
               '2032-01-01', '2033-01-01', '2034-01-01', '2035-01-01',
               '2036-01-01', '2037-01-01', '2038-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [34]:
pd.date_range(start='2016/1/1', periods=50)

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-16',
               '2016-01-17', '2016-01-18', '2016-01-19', '2016-01-20',
               '2016-01-21', '2016-01-22', '2016-01-23', '2016-01-24',
               '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28',
               '2016-01-29', '2016-01-30', '2016-01-31', '2016-02-01',
               '2016-02-02', '2016-02-03', '2016-02-04', '2016-02-05',
               '2016-02-06', '2016-02-07', '2016-02-08', '2016-02-09',
               '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-13',
               '2016-02-14', '2016-02-15', '2016-02-16', '2016-02-17',
               '2016-02-18', '2016-02-19'],
              dtype='datetime64[ns]', freq='D')

In [35]:
pd.date_range(start='2016/1/1', periods=50, freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-18',
               '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22',
               '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28',
               '2016-01-29', '2016-02-01', '2016-02-02', '2016-02-03',
               '2016-02-04', '2016-02-05', '2016-02-08', '2016-02-09',
               '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-15',
               '2016-02-16', '2016-02-17', '2016-02-18', '2016-02-19',
               '2016-02-22', '2016-02-23', '2016-02-24', '2016-02-25',
               '2016-02-26', '2016-02-29', '2016-03-01', '2016-03-02',
               '2016-03-03', '2016-03-04', '2016-03-07', '2016-03-08',
               '2016-03-09', '2016-03-10'],
              dtype='datetime64[ns]', freq='B')

In [36]:
pd.date_range(start='2016/1/1', periods=50, freq='W')

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31', '2016-02-07', '2016-02-14', '2016-02-21',
               '2016-02-28', '2016-03-06', '2016-03-13', '2016-03-20',
               '2016-03-27', '2016-04-03', '2016-04-10', '2016-04-17',
               '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15',
               '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12',
               '2016-06-19', '2016-06-26', '2016-07-03', '2016-07-10',
               '2016-07-17', '2016-07-24', '2016-07-31', '2016-08-07',
               '2016-08-14', '2016-08-21', '2016-08-28', '2016-09-04',
               '2016-09-11', '2016-09-18', '2016-09-25', '2016-10-02',
               '2016-10-09', '2016-10-16', '2016-10-23', '2016-10-30',
               '2016-11-06', '2016-11-13', '2016-11-20', '2016-11-27',
               '2016-12-04', '2016-12-11'],
              dtype='datetime64[ns]', freq='W-SUN')

In [37]:
pd.date_range(start='2016/1/1', periods=50, freq='W-thu')

DatetimeIndex(['2016-01-07', '2016-01-14', '2016-01-21', '2016-01-28',
               '2016-02-04', '2016-02-11', '2016-02-18', '2016-02-25',
               '2016-03-03', '2016-03-10', '2016-03-17', '2016-03-24',
               '2016-03-31', '2016-04-07', '2016-04-14', '2016-04-21',
               '2016-04-28', '2016-05-05', '2016-05-12', '2016-05-19',
               '2016-05-26', '2016-06-02', '2016-06-09', '2016-06-16',
               '2016-06-23', '2016-06-30', '2016-07-07', '2016-07-14',
               '2016-07-21', '2016-07-28', '2016-08-04', '2016-08-11',
               '2016-08-18', '2016-08-25', '2016-09-01', '2016-09-08',
               '2016-09-15', '2016-09-22', '2016-09-29', '2016-10-06',
               '2016-10-13', '2016-10-20', '2016-10-27', '2016-11-03',
               '2016-11-10', '2016-11-17', '2016-11-24', '2016-12-01',
               '2016-12-08', '2016-12-15'],
              dtype='datetime64[ns]', freq='W-THU')

In [38]:
pd.date_range(start='2016/1/1', periods=50, freq='M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31',
               '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
               '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
               '2020-01-31', '2020-02-29'],
              dtype='datetime64[ns]', freq='M')

In [39]:
pd.date_range(start='2016/1/1', periods=50, freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
               '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
               '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01'],
              dtype='datetime64[ns]', freq='MS')

In [40]:
pd.date_range(start='2016/1/1', periods=50, freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31', '2051-12-31',
               '2052-12-31', '2053-12-31', '2054-12-31', '2055-12-31',
               '2056-12-31', '2057-12-31', '2058-12-31', '2059-12-31',
               '2060-12-31', '2061-12-31', '2062-12-31', '2063-12-31',
               '2064-12-31', '2065-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [41]:
pd.date_range(start='2016/1/1', periods=50, freq='AS')

DatetimeIndex(['2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01',
               '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01',
               '2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01', '2031-01-01',
               '2032-01-01', '2033-01-01', '2034-01-01', '2035-01-01',
               '2036-01-01', '2037-01-01', '2038-01-01', '2039-01-01',
               '2040-01-01', '2041-01-01', '2042-01-01', '2043-01-01',
               '2044-01-01', '2045-01-01', '2046-01-01', '2047-01-01',
               '2048-01-01', '2049-01-01', '2050-01-01', '2051-01-01',
               '2052-01-01', '2053-01-01', '2054-01-01', '2055-01-01',
               '2056-01-01', '2057-01-01', '2058-01-01', '2059-01-01',
               '2060-01-01', '2061-01-01', '2062-01-01', '2063-01-01',
               '2064-01-01', '2065-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [42]:
pd.date_range(start='2016/1/1', periods=50, freq='H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               '2016-01-01 10:00:00', '2016-01-01 11:00:00',
               '2016-01-01 12:00:00', '2016-01-01 13:00:00',
               '2016-01-01 14:00:00', '2016-01-01 15:00:00',
               '2016-01-01 16:00:00', '2016-01-01 17:00:00',
               '2016-01-01 18:00:00', '2016-01-01 19:00:00',
               '2016-01-01 20:00:00', '2016-01-01 21:00:00',
               '2016-01-01 22:00:00', '2016-01-01 23:00:00',
               '2016-01-02 00:00:00', '2016-01-02 01:00:00',
               '2016-01-02 02:00:00', '2016-01-02 03:00:00',
               '2016-01-02 04:00:00', '2016-01-02 05:00:00',
               '2016-01-02 06:00:00', '2016-01-02 07:00:00',
               '2016-01-02 08:00:00', '2016-01-02 09:00:00',
               '2016-01-02 10:00:00', '2016-01-02 11:00:00',
               '2016-01-02 12:00:00', '2016-01-02 13:00:00',
               '2016-01-02 14:00:00', '2016-01-02 15:00:00',
               '2016-01-02 16:00:00', '2016-01-02 17:00:00',
               '2016-01-02 18:00:00', '2016-01-02 19:00:00',
               '2016-01-02 20:00:00', '2016-01-02 21:00:00',
               '2016-01-02 22:00:00', '2016-01-02 23:00:00',
               '2016-01-03 00:00:00', '2016-01-03 01:00:00'],
              dtype='datetime64[ns]', freq='H')

In [43]:
pd.date_range(start='2016/1/1', periods=50, freq='6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00', '2016-01-13 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [44]:
pd.date_range(end='2016/1/1', periods=50, freq='D')

DatetimeIndex(['2015-11-13', '2015-11-14', '2015-11-15', '2015-11-16',
               '2015-11-17', '2015-11-18', '2015-11-19', '2015-11-20',
               '2015-11-21', '2015-11-22', '2015-11-23', '2015-11-24',
               '2015-11-25', '2015-11-26', '2015-11-27', '2015-11-28',
               '2015-11-29', '2015-11-30', '2015-12-01', '2015-12-02',
               '2015-12-03', '2015-12-04', '2015-12-05', '2015-12-06',
               '2015-12-07', '2015-12-08', '2015-12-09', '2015-12-10',
               '2015-12-11', '2015-12-12', '2015-12-13', '2015-12-14',
               '2015-12-15', '2015-12-16', '2015-12-17', '2015-12-18',
               '2015-12-19', '2015-12-20', '2015-12-21', '2015-12-22',
               '2015-12-23', '2015-12-24', '2015-12-25', '2015-12-26',
               '2015-12-27', '2015-12-28', '2015-12-29', '2015-12-30',
               '2015-12-31', '2016-01-01'],
              dtype='datetime64[ns]', freq='D')

In [45]:
pd.date_range(end='2016/1/1', periods=50, freq='B')

DatetimeIndex(['2015-10-26', '2015-10-27', '2015-10-28', '2015-10-29',
               '2015-10-30', '2015-11-02', '2015-11-03', '2015-11-04',
               '2015-11-05', '2015-11-06', '2015-11-09', '2015-11-10',
               '2015-11-11', '2015-11-12', '2015-11-13', '2015-11-16',
               '2015-11-17', '2015-11-18', '2015-11-19', '2015-11-20',
               '2015-11-23', '2015-11-24', '2015-11-25', '2015-11-26',
               '2015-11-27', '2015-11-30', '2015-12-01', '2015-12-02',
               '2015-12-03', '2015-12-04', '2015-12-07', '2015-12-08',
               '2015-12-09', '2015-12-10', '2015-12-11', '2015-12-14',
               '2015-12-15', '2015-12-16', '2015-12-17', '2015-12-18',
               '2015-12-21', '2015-12-22', '2015-12-23', '2015-12-24',
               '2015-12-25', '2015-12-28', '2015-12-29', '2015-12-30',
               '2015-12-31', '2016-01-01'],
              dtype='datetime64[ns]', freq='B')

In [46]:
pd.date_range(end='2016/1/1', periods=50, freq='W')

DatetimeIndex(['2015-01-18', '2015-01-25', '2015-02-01', '2015-02-08',
               '2015-02-15', '2015-02-22', '2015-03-01', '2015-03-08',
               '2015-03-15', '2015-03-22', '2015-03-29', '2015-04-05',
               '2015-04-12', '2015-04-19', '2015-04-26', '2015-05-03',
               '2015-05-10', '2015-05-17', '2015-05-24', '2015-05-31',
               '2015-06-07', '2015-06-14', '2015-06-21', '2015-06-28',
               '2015-07-05', '2015-07-12', '2015-07-19', '2015-07-26',
               '2015-08-02', '2015-08-09', '2015-08-16', '2015-08-23',
               '2015-08-30', '2015-09-06', '2015-09-13', '2015-09-20',
               '2015-09-27', '2015-10-04', '2015-10-11', '2015-10-18',
               '2015-10-25', '2015-11-01', '2015-11-08', '2015-11-15',
               '2015-11-22', '2015-11-29', '2015-12-06', '2015-12-13',
               '2015-12-20', '2015-12-27'],
              dtype='datetime64[ns]', freq='W-SUN')

In [47]:
pd.date_range(end='2016/1/1', periods=50, freq='W-fri')

DatetimeIndex(['2015-01-23', '2015-01-30', '2015-02-06', '2015-02-13',
               '2015-02-20', '2015-02-27', '2015-03-06', '2015-03-13',
               '2015-03-20', '2015-03-27', '2015-04-03', '2015-04-10',
               '2015-04-17', '2015-04-24', '2015-05-01', '2015-05-08',
               '2015-05-15', '2015-05-22', '2015-05-29', '2015-06-05',
               '2015-06-12', '2015-06-19', '2015-06-26', '2015-07-03',
               '2015-07-10', '2015-07-17', '2015-07-24', '2015-07-31',
               '2015-08-07', '2015-08-14', '2015-08-21', '2015-08-28',
               '2015-09-04', '2015-09-11', '2015-09-18', '2015-09-25',
               '2015-10-02', '2015-10-09', '2015-10-16', '2015-10-23',
               '2015-10-30', '2015-11-06', '2015-11-13', '2015-11-20',
               '2015-11-27', '2015-12-04', '2015-12-11', '2015-12-18',
               '2015-12-25', '2016-01-01'],
              dtype='datetime64[ns]', freq='W-FRI')

In [48]:
pd.date_range(end='2016/1/1', periods=50, freq='M')

DatetimeIndex(['2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29',
               '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30',
               '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31',
               '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28',
               '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30',
               '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31',
               '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28',
               '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30',
               '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31',
               '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28',
               '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30',
               '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
               '2015-11-30', '2015-12-31'],
              dtype='datetime64[ns]', freq='M')

In [49]:
pd.date_range(end='2016/1/1', periods=50, freq='MS')

DatetimeIndex(['2011-12-01', '2012-01-01', '2012-02-01', '2012-03-01',
               '2012-04-01', '2012-05-01', '2012-06-01', '2012-07-01',
               '2012-08-01', '2012-09-01', '2012-10-01', '2012-11-01',
               '2012-12-01', '2013-01-01', '2013-02-01', '2013-03-01',
               '2013-04-01', '2013-05-01', '2013-06-01', '2013-07-01',
               '2013-08-01', '2013-09-01', '2013-10-01', '2013-11-01',
               '2013-12-01', '2014-01-01', '2014-02-01', '2014-03-01',
               '2014-04-01', '2014-05-01', '2014-06-01', '2014-07-01',
               '2014-08-01', '2014-09-01', '2014-10-01', '2014-11-01',
               '2014-12-01', '2015-01-01', '2015-02-01', '2015-03-01',
               '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01',
               '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01',
               '2015-12-01', '2016-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [50]:
pd.date_range(end='2016/1/1', periods=50, freq='A')

DatetimeIndex(['1966-12-31', '1967-12-31', '1968-12-31', '1969-12-31',
               '1970-12-31', '1971-12-31', '1972-12-31', '1973-12-31',
               '1974-12-31', '1975-12-31', '1976-12-31', '1977-12-31',
               '1978-12-31', '1979-12-31', '1980-12-31', '1981-12-31',
               '1982-12-31', '1983-12-31', '1984-12-31', '1985-12-31',
               '1986-12-31', '1987-12-31', '1988-12-31', '1989-12-31',
               '1990-12-31', '1991-12-31', '1992-12-31', '1993-12-31',
               '1994-12-31', '1995-12-31', '1996-12-31', '1997-12-31',
               '1998-12-31', '1999-12-31', '2000-12-31', '2001-12-31',
               '2002-12-31', '2003-12-31', '2004-12-31', '2005-12-31',
               '2006-12-31', '2007-12-31', '2008-12-31', '2009-12-31',
               '2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [51]:
pd.date_range(end='2016/1/1', periods=50, freq='AS')

DatetimeIndex(['1967-01-01', '1968-01-01', '1969-01-01', '1970-01-01',
               '1971-01-01', '1972-01-01', '1973-01-01', '1974-01-01',
               '1975-01-01', '1976-01-01', '1977-01-01', '1978-01-01',
               '1979-01-01', '1980-01-01', '1981-01-01', '1982-01-01',
               '1983-01-01', '1984-01-01', '1985-01-01', '1986-01-01',
               '1987-01-01', '1988-01-01', '1989-01-01', '1990-01-01',
               '1991-01-01', '1992-01-01', '1993-01-01', '1994-01-01',
               '1995-01-01', '1996-01-01', '1997-01-01', '1998-01-01',
               '1999-01-01', '2000-01-01', '2001-01-01', '2002-01-01',
               '2003-01-01', '2004-01-01', '2005-01-01', '2006-01-01',
               '2007-01-01', '2008-01-01', '2009-01-01', '2010-01-01',
               '2011-01-01', '2012-01-01', '2013-01-01', '2014-01-01',
               '2015-01-01', '2016-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [52]:
pd.date_range(end='2016/1/1', periods=50, freq='H')

DatetimeIndex(['2015-12-29 23:00:00', '2015-12-30 00:00:00',
               '2015-12-30 01:00:00', '2015-12-30 02:00:00',
               '2015-12-30 03:00:00', '2015-12-30 04:00:00',
               '2015-12-30 05:00:00', '2015-12-30 06:00:00',
               '2015-12-30 07:00:00', '2015-12-30 08:00:00',
               '2015-12-30 09:00:00', '2015-12-30 10:00:00',
               '2015-12-30 11:00:00', '2015-12-30 12:00:00',
               '2015-12-30 13:00:00', '2015-12-30 14:00:00',
               '2015-12-30 15:00:00', '2015-12-30 16:00:00',
               '2015-12-30 17:00:00', '2015-12-30 18:00:00',
               '2015-12-30 19:00:00', '2015-12-30 20:00:00',
               '2015-12-30 21:00:00', '2015-12-30 22:00:00',
               '2015-12-30 23:00:00', '2015-12-31 00:00:00',
               '2015-12-31 01:00:00', '2015-12-31 02:00:00',
               '2015-12-31 03:00:00', '2015-12-31 04:00:00',
               '2015-12-31 05:00:00', '2015-12-31 06:00:00',
               '2015-12-31 07:00:00', '2015-12-31 08:00:00',
               '2015-12-31 09:00:00', '2015-12-31 10:00:00',
               '2015-12-31 11:00:00', '2015-12-31 12:00:00',
               '2015-12-31 13:00:00', '2015-12-31 14:00:00',
               '2015-12-31 15:00:00', '2015-12-31 16:00:00',
               '2015-12-31 17:00:00', '2015-12-31 18:00:00',
               '2015-12-31 19:00:00', '2015-12-31 20:00:00',
               '2015-12-31 21:00:00', '2015-12-31 22:00:00',
               '2015-12-31 23:00:00', '2016-01-01 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [53]:
pd.date_range(end='2016/1/1', periods=50, freq='6H')

DatetimeIndex(['2015-12-19 18:00:00', '2015-12-20 00:00:00',
               '2015-12-20 06:00:00', '2015-12-20 12:00:00',
               '2015-12-20 18:00:00', '2015-12-21 00:00:00',
               '2015-12-21 06:00:00', '2015-12-21 12:00:00',
               '2015-12-21 18:00:00', '2015-12-22 00:00:00',
               '2015-12-22 06:00:00', '2015-12-22 12:00:00',
               '2015-12-22 18:00:00', '2015-12-23 00:00:00',
               '2015-12-23 06:00:00', '2015-12-23 12:00:00',
               '2015-12-23 18:00:00', '2015-12-24 00:00:00',
               '2015-12-24 06:00:00', '2015-12-24 12:00:00',
               '2015-12-24 18:00:00', '2015-12-25 00:00:00',
               '2015-12-25 06:00:00', '2015-12-25 12:00:00',
               '2015-12-25 18:00:00', '2015-12-26 00:00:00',
               '2015-12-26 06:00:00', '2015-12-26 12:00:00',
               '2015-12-26 18:00:00', '2015-12-27 00:00:00',
               '2015-12-27 06:00:00', '2015-12-27 12:00:00',
               '2015-12-27 18:00:00', '2015-12-28 00:00:00',
               '2015-12-28 06:00:00', '2015-12-28 12:00:00',
               '2015-12-28 18:00:00', '2015-12-29 00:00:00',
               '2015-12-29 06:00:00', '2015-12-29 12:00:00',
               '2015-12-29 18:00:00', '2015-12-30 00:00:00',
               '2015-12-30 06:00:00', '2015-12-30 12:00:00',
               '2015-12-30 18:00:00', '2015-12-31 00:00:00',
               '2015-12-31 06:00:00', '2015-12-31 12:00:00',
               '2015-12-31 18:00:00', '2016-01-01 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

## .dt Accessor

In [54]:
bunch_of_dates = pd.date_range(start='2000-1-1', end='2010-12-31', freq='24D')

In [55]:
s=pd.Series(bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [56]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [57]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [58]:
s.dt.dayofweek

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [59]:
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [60]:
mask=s.dt.is_quarter_end
s[mask]

57   2003-09-30
dtype: datetime64[ns]

In [61]:
mask=s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

## pandas_datareader Library

In [63]:
from pandas_datareader import data

In [67]:
company = 'MSFT'
start = '2015-01-01'
end = '2020-12-31'

stock = data.DataReader(name = company, data_source='yahoo', start = start, end = end)
stock

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-12-31,47.439999,46.450001,46.730000,46.450001,21552500.0,41.587284
2015-01-02,47.419998,46.540001,46.660000,46.759998,27913900.0,41.864841
2015-01-05,46.730000,46.250000,46.369999,46.330002,39673900.0,41.479866
2015-01-06,46.750000,45.540001,46.380001,45.650002,36447900.0,40.871037
2015-01-07,46.459999,45.490002,45.980000,46.230000,29114100.0,41.390320
...,...,...,...,...,...,...
2020-04-20,178.750000,174.990005,176.630005,175.059998,36669600.0,175.059998
2020-04-21,173.669998,166.110001,173.500000,167.820007,56203700.0,167.820007
2020-04-22,174.000000,170.820007,171.389999,173.520004,34651600.0,173.520004
2020-04-23,175.059998,170.910004,174.110001,171.419998,32790800.0,171.419998
2020-04-24,174.559998,170.710007,172.059998,174.550003,34277600.0,174.550003

In [68]:
stock.loc['2020-1-6']

High         1.591000e+02
Low          1.565100e+02
Open         1.570800e+02
Close        1.590300e+02
Volume       2.081370e+07
Adj Close    1.585968e+02
Name: 2020-01-06 00:00:00, dtype: float64

In [69]:
stock.iloc[780]

High         9.148000e+01
Low          8.525000e+01
Open         8.689000e+01
Close        9.133000e+01
Volume       6.799860e+07
Adj Close    8.822678e+01
Name: 2018-02-06 00:00:00, dtype: float64

In [70]:
birthday=pd.date_range(start = '1996-02-12', end = '2020-12-31', freq = pd.DateOffset(years=1))

In [71]:
birthday

DatetimeIndex(['1996-02-12', '1997-02-12', '1998-02-12', '1999-02-12',
               '2000-02-12', '2001-02-12', '2002-02-12', '2003-02-12',
               '2004-02-12', '2005-02-12', '2006-02-12', '2007-02-12',
               '2008-02-12', '2009-02-12', '2010-02-12', '2011-02-12',
               '2012-02-12', '2013-02-12', '2014-02-12', '2015-02-12',
               '2016-02-12', '2017-02-12', '2018-02-12', '2019-02-12',
               '2020-02-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [72]:
mask = stock.index.isin(birthday)
stock.loc[mask]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-02-12,43.090000,42.509998,42.660000,43.090000,33268800.0,38.579041
2016-02-12,50.680000,49.750000,50.250000,50.500000,34243300.0,46.444187
2018-02-12,89.779999,87.930000,88.739998,89.129997,35720300.0,86.101532
2019-02-12,107.139999,105.480003,106.139999,106.889999,25056600.0,105.045631
2020-02-12,185.850006,181.850006,185.580002,184.710007,47062900.0,184.206863

In [73]:
someday = stock.index[500]
someday

Timestamp('2016-12-23 00:00:00')

In [74]:
someday.day

23

In [75]:
someday.month

12

In [76]:
someday.year

2016

In [77]:
someday.is_month_end

False

In [78]:
someday.is_leap_year

True

In [79]:
someday.weekday()

4

In [80]:
someday.week

51

In [81]:
someday.dayofweek

4

In [82]:
someday.day_name()

'Friday'

In [83]:
stock.insert(0, 'Day of Week', stock.index.day_name())
stock.head()

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2014-12-31,Wednesday,47.439999,46.450001,46.730000,46.450001,21552500.0,41.587284
2015-01-02,Friday,47.419998,46.540001,46.660000,46.759998,27913900.0,41.864841
2015-01-05,Monday,46.730000,46.250000,46.369999,46.330002,39673900.0,41.479866
2015-01-06,Tuesday,46.750000,45.540001,46.380001,45.650002,36447900.0,40.871037
2015-01-07,Wednesday,46.459999,45.490002,45.980000,46.230000,29114100.0,41.390320

## truncate() Method

In [84]:
stock.truncate(before='2015-06-07', after='2015-12-31')

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2015-06-08,Monday,46.430000,45.669998,46.299999,45.730000,22121600.0,41.502018
2015-06-09,Tuesday,45.939999,45.459999,45.759998,45.650002,24406100.0,41.429413
2015-06-10,Wednesday,46.830002,45.689999,45.790001,46.610001,28417400.0,42.300655
2015-06-11,Thursday,46.919998,46.130001,46.660000,46.439999,27347800.0,42.146370
2015-06-12,Friday,46.470001,45.900002,46.220001,45.970001,23931000.0,41.719830
...,...,...,...,...,...,...,...
2015-12-24,Thursday,55.959999,55.430000,55.860001,55.669998,9558500.0,51.198963
2015-12-28,Monday,55.950001,54.980000,55.349998,55.950001,22458300.0,51.456482
2015-12-29,Tuesday,56.849998,56.060001,56.290001,56.549999,27731400.0,52.008289
2015-12-30,Wednesday,56.779999,56.290001,56.470001,56.310001,21704500.0,51.787560
2015-12-31,Thursday,56.189999,55.419998,56.040001,55.480000,27334100.0,51.024227

## pd.DateOffset Objects

In [86]:
s = data.DataReader(name='GOOG', data_source='yahoo', start = dt.date(2000, 1, 1), end = dt.datetime.now())
s

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2004-08-19,51.835709,47.800831,49.813286,49.982655,44871300.0,49.982655
2004-08-20,54.336334,50.062355,50.316402,53.952770,22942800.0,53.952770
2004-08-23,56.528118,54.321388,55.168217,54.495735,18342800.0,54.495735
2004-08-24,55.591629,51.591621,55.412300,52.239193,15319700.0,52.239193
2004-08-25,53.798351,51.746044,52.284027,52.802086,9232100.0,52.802086
...,...,...,...,...,...,...
2020-04-20,1281.599976,1261.369995,1271.000000,1266.609985,1695500.0,1266.609985
2020-04-21,1254.270020,1209.709961,1247.000000,1216.339966,2153000.0,1216.339966
2020-04-22,1285.613037,1242.000000,1245.540039,1263.209961,2093100.0,1263.209961
2020-04-23,1293.310059,1265.670044,1271.550049,1276.310059,1566200.0,1276.310059
2020-04-24,1280.400024,1249.449951,1261.170044,1279.310059,1639600.0,1279.310059

In [87]:
s.index + pd.DateOffset(days=1)

DatetimeIndex(['2004-08-20', '2004-08-21', '2004-08-24', '2004-08-25',
               '2004-08-26', '2004-08-27', '2004-08-28', '2004-08-31',
               '2004-09-01', '2004-09-02',
               ...
               '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17',
               '2020-04-18', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24', '2020-04-25'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [88]:
s.index + pd.DateOffset(months=5)

DatetimeIndex(['2005-01-19', '2005-01-20', '2005-01-23', '2005-01-24',
               '2005-01-25', '2005-01-26', '2005-01-27', '2005-01-30',
               '2005-01-31', '2005-02-01',
               ...
               '2020-09-13', '2020-09-14', '2020-09-15', '2020-09-16',
               '2020-09-17', '2020-09-20', '2020-09-21', '2020-09-22',
               '2020-09-23', '2020-09-24'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [96]:
s.index + pd.DateOffset(years=1)

DatetimeIndex(['2005-08-19', '2005-08-20', '2005-08-23', '2005-08-24',
               '2005-08-25', '2005-08-26', '2005-08-27', '2005-08-30',
               '2005-08-31', '2005-09-01',
               ...
               '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-17', '2021-04-20', '2021-04-21', '2021-04-22',
               '2021-04-23', '2021-04-24'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [101]:
s.index + pd.DateOffset(hours=7)

DatetimeIndex(['2004-08-19 07:00:00', '2004-08-20 07:00:00',
               '2004-08-23 07:00:00', '2004-08-24 07:00:00',
               '2004-08-25 07:00:00', '2004-08-26 07:00:00',
               '2004-08-27 07:00:00', '2004-08-30 07:00:00',
               '2004-08-31 07:00:00', '2004-09-01 07:00:00',
               ...
               '2020-04-13 07:00:00', '2020-04-14 07:00:00',
               '2020-04-15 07:00:00', '2020-04-16 07:00:00',
               '2020-04-17 07:00:00', '2020-04-20 07:00:00',
               '2020-04-21 07:00:00', '2020-04-22 07:00:00',
               '2020-04-23 07:00:00', '2020-04-24 07:00:00'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [106]:
s.index + pd.DateOffset(hours=7.5)

DatetimeIndex(['2004-08-19 07:30:00', '2004-08-20 07:30:00',
               '2004-08-23 07:30:00', '2004-08-24 07:30:00',
               '2004-08-25 07:30:00', '2004-08-26 07:30:00',
               '2004-08-27 07:30:00', '2004-08-30 07:30:00',
               '2004-08-31 07:30:00', '2004-09-01 07:30:00',
               ...
               '2020-04-13 07:30:00', '2020-04-14 07:30:00',
               '2020-04-15 07:30:00', '2020-04-16 07:30:00',
               '2020-04-17 07:30:00', '2020-04-20 07:30:00',
               '2020-04-21 07:30:00', '2020-04-22 07:30:00',
               '2020-04-23 07:30:00', '2020-04-24 07:30:00'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [104]:
s.index + pd.DateOffset(days=1, months=5, years=2, hours=3, minutes=23)

DatetimeIndex(['2007-01-20 03:23:00', '2007-01-21 03:23:00',
               '2007-01-24 03:23:00', '2007-01-25 03:23:00',
               '2007-01-26 03:23:00', '2007-01-27 03:23:00',
               '2007-01-28 03:23:00', '2007-01-31 03:23:00',
               '2007-02-01 03:23:00', '2007-02-02 03:23:00',
               ...
               '2022-09-14 03:23:00', '2022-09-15 03:23:00',
               '2022-09-16 03:23:00', '2022-09-17 03:23:00',
               '2022-09-18 03:23:00', '2022-09-21 03:23:00',
               '2022-09-22 03:23:00', '2022-09-23 03:23:00',
               '2022-09-24 03:23:00', '2022-09-25 03:23:00'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [105]:
s.index - pd.DateOffset(days=1, months=5, years=2, hours=3, minutes=23)

DatetimeIndex(['2002-03-17 20:37:00', '2002-03-18 20:37:00',
               '2002-03-21 20:37:00', '2002-03-22 20:37:00',
               '2002-03-23 20:37:00', '2002-03-24 20:37:00',
               '2002-03-25 20:37:00', '2002-03-28 20:37:00',
               '2002-03-29 20:37:00', '2002-03-30 20:37:00',
               ...
               '2017-11-11 20:37:00', '2017-11-12 20:37:00',
               '2017-11-13 20:37:00', '2017-11-14 20:37:00',
               '2017-11-15 20:37:00', '2017-11-18 20:37:00',
               '2017-11-19 20:37:00', '2017-11-20 20:37:00',
               '2017-11-21 20:37:00', '2017-11-22 20:37:00'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [107]:
s.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [108]:
s.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [109]:
from pandas.tseries.offsets import *

In [110]:
s.index - MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [111]:
s.index + BMonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

In [113]:
s.index + BMonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01'],
              dtype='datetime64[ns]', name='Date', length=3948, freq=None)

## Timedelta

In [114]:
timeA = pd.Timestamp('2016-3-31 4:23:47PM')
timeB = pd. Timestamp('2016-3-20 2:12:23AM')

In [115]:
timeA - timeB

Timedelta('11 days 14:11:24')

In [116]:
timeB - timeA

Timedelta('-12 days +09:48:36')

In [117]:
timeA = pd.Timestamp('2017-3-31 4:23:47PM')
timeB = pd. Timestamp('2016-3-20 2:12:23AM')

In [118]:
timeA - timeB

Timedelta('376 days 14:11:24')

In [119]:
timeB - timeA

Timedelta('-377 days +09:48:36')

In [120]:
pd.Timedelta(days = 3, hours = 34, minutes = 12)

Timedelta('4 days 10:12:00')

In [122]:
pd.Timedelta(days = 3, hours = 3, minutes = 12, weeks = 7)

Timedelta('52 days 03:12:00')

In [123]:
pd.Timedelta('12 days 12 hours 12 minutes 12 seconds')

Timedelta('12 days 12:12:12')

In [126]:
shipping = pd.read_csv('ecommerce.csv', index_col='ID', parse_dates=['order_date', 'delivery_date'])

In [127]:
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [128]:
shipping['Delivery Time'] = shipping['delivery_date'] - shipping['order_date']

In [129]:
shipping

    order_date delivery_date Delivery Time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [130]:
shipping['Double Time'] = shipping['delivery_date'] + shipping['Delivery Time']

In [131]:
shipping.head()

   order_date delivery_date Delivery Time Double Time
ID
1  1998-05-24    1999-02-05      257 days  1999-10-20
2  1992-04-22    1998-03-06     2144 days  2004-01-18
4  1991-02-10    1992-08-26      563 days  1994-03-12
5  1992-07-21    1997-11-20     1948 days  2003-03-22
7  1993-09-02    1998-06-10     1742 days  2003-03-18